# Dependency directories
/node_modules/
/.pnp
.pnp.js

# Environment configuration files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
/dist
/build

# Misc
.DS_Store
/.vscode
/.idea
/*.pem
/*.log

# Specific to React app
/build/
/public/

# Specific to GraphQL
/graphql-schema.json

# Temporary files
.tmp

# Cypress specific
cypress/videos/
cypress/screenshots/
cypress/fixtures/

# Depending on your configuration, you might also want to exclude
# any environment configuration files that are not meant to be shared:
cypress.env.json

# If you're using Cypress with npm, you may also exclude the Cypress cache folder,
# though it's typically located outside your project directory:
# macOS and Linux
~/.cache/Cypress
